.Row .swiper {
    overflow: visible;
}
@media (min-width: 768px) {
  .Row .swiper-wrapper:hover .swiper-slide {
    transform: translateX(-15%);
    opacity: 0.3;
  }
  .Row .swiper-wrapper:hover .swiper-slide:hover {
    transform: scale(1.3) !important;
    z-index: 1;
    opacity: 1;
  }
  .Row .swiper-wrapper:hover .swiper-slide:hover ~ .swiper-slide {
    transform: translateX(15%);
  }
  .Row .swiper-wrapper.is-left:hover .swiper-slide:hover ~ .swiper-slide {
    transform: translateX(28%);
  }
  .Row .swiper-wrapper.is-right:hover .swiper-slide {
    transform: translateX(-30%);
    opacity: 0.3;
  }
  .Row .swiper-wrapper.is-right:hover .swiper-slide:hover {
    transform: scale(1.3) !important;
    z-index: 1;
    opacity: 1;
  }
  .Row .swiper-wrapper.is-right:hover .swiper-slide:hover ~ .swiper-slide {
    transform: translateX(0%);
  }
}
.Row .swiper-slide {
  display: inline-flex;
  transform: scale(1);
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}
@media (min-width: 330px) {
  .Row .swiper-slide:nth-child(1n) {
    transform-origin: initial;
  }
  .Row .swiper-slide:nth-child(2n+1) {
    transform-origin: left;
  }
  .Row .swiper-slide:nth-child(2n+2) {
    transform-origin: right;
  }
}
@media (min-width: 625px) {
  .Row .swiper-slide:nth-child(1n) {
    transform-origin: initial;
  }
  .Row .swiper-slide:nth-child(3n+1) {
    transform-origin: left;
  }
  .Row .swiper-slide:nth-child(3n+3) {
    transform-origin: right;
  }
}
@media (min-width: 998px) {
  .Row .swiper-slide:nth-child(1n) {
    transform-origin: initial;
  }
  .Row .swiper-slide:nth-child(4n+1) {
    transform-origin: left;
  }
  .Row .swiper-slide:nth-child(4n+4) {
    transform-origin: right;
  }
}
@media (min-width: 1378px) {
  .Row .swiper-slide:nth-child(1n) {
    transform-origin: initial;
  }
  .Row .swiper-slide:nth-child(6n+1) {
    transform-origin: left;
  }
  .Row .swiper-slide:nth-child(6n+6) {
    transform-origin: right;
  }
}
.Row .swiper-container {
  overflow: initial;
  width: 100%;
  height: auto;
  padding: 0 4%;
}
.Row .swiper-container:hover .swiper-pagination {
  opacity: 1;
}
.Row .swiper-pagination {
  top: -35px;
  right: 4.5%;
  left: initial !important;
  bottom: initial !important;
  width: auto !important;
  opacity: 0;
  z-index: 1;
  transform: none;
  transition: opacity 0.2s ease-out;
}
.Row .swiper-pagination-bullet {
  width: 12px;
  height: 4px;
  display: inline-block;
  margin: 0 !important;
  margin-left: 2px !important;
  border-radius: 0;
  opacity: 1;
  background-color: #4d4d4d;
  transition: all 0.2s ease-in-out;
}
.Row .swiper-pagination-bullet-active {
  background-color: #aaa;
  height: 5px;
}